/*@primary-light: white;
@primary-dark: #1f1f1f;*/


/* Will need to link more font weights, maybe using a sass mixin. */

@font-face {
  font-family: "Nunito Sans";
  src: url("font/NunitoSans-SemiBold.eot");
  /* IE9+ Compat Modes */
  src: url("font/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("font/NunitoSans-SemiBold.woff2") format("woff2"), /* Super modern browsers */
  url("font/NunitoSans-SemiBold.woff") format("woff"), /* Modern browsers */
  url("font/NunitoSans-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("font/NunitoSans-SemiBold.svg#FontName") format("svg");
  font-weight: 600;
  /* Legacy iOS */
}

@font-face {
  font-family: "Nunito Sans";
  src: url("font/NunitoSans-ExtraBold.eot");
  /* IE9+ Compat Modes */
  src: url("font/NunitoSans-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("font/NunitoSans-ExtraBold.woff2") format("woff2"), /* Super modern browsers */
  url("font/NunitoSans-ExtraBold.woff") format("woff"), /* Modern browsers */
  url("font/NunitoSans-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("font/NunitoSans-ExtraBold.svg#FontName") format("svg");
  font-weight: 800;
  /* Legacy iOS */
}

* {
  font-family: "Nunito Sans";
}

html {
  scrollbar-face-color: var(--shade-black);
  scrollbar-base-color: var(--shade-black);
  scrollbar-3dlight-color: var(--shade-black);
  scrollbar-highlight-color: var(--shade-black);
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: transparent;
  scrollbar-shadow-color: var(--shade-black);
  scrollbar-dark-shadow-color: var(--shade-black);
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-button {
  visibility: collapse;
  background-color: var(--shade-black);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 1px;
  background-color: var(--shade-black);
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: var(--shade-black);
}

::-webkit-resizer {
  background-color: var(--shade-black);
}

:root {
  --off-black: #0d0d0d;
  --gray: #4d4d4d;
  --warm-gray: #717171;
  --white: #ffffff;
  --royal-purple: #7c01ff;
  --win-green: #00d77d;
  --alert-red: #d75752;
  --alert-red-text: #e7554f;
  --success-green: #16c57c;
  --shade-black: #1f1f1f;
  --dark-gray: #242424;
  --light-blue: #61dafb;
}

body {
  background-color: var(--off-black);
}

.root {
  display: flex;
  flex-direction: row;
  background-color: var(--off-black);
}

.disabled {
  cursor: not-allowed !important;
  background-color: rgb(0, 0, 0, .2) !important;
}

.root-content {
  align-items: center;
  width: 100%;
  padding: 0.8em;
  max-width: 100em;
  max-height: 100vh;
  overflow-y: auto;
}

.carousel {
  overflow-x: auto;
  overflow-y: hidden;
}

.carousel-image {
  height: 200px;
  width: 95%;
  border-radius: 10px;
  padding: 15px;
}

.carousel-text {
  height: 200px;
  width: 95%;
  border-radius: 10px;
  padding: 15px;
}

.App-link {
  color: var(--light-blue);
}

.LeftSideBar {
  justify-content: flex-start;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
}

.RightSideBar {
  justify-content: flex-start;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}

.wallet {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  justify-self: flex-end;
  justify-content: space-between;
}

.wallet-wrapper {
  padding-left: 0.7rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.wallet-key {
  padding: 0.1rem 0.5rem 0.1rem 0.7rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
  text-align: start;
  width: 100%;
}

.flex-end {
  justify-content: flex-end;
  text-align: end;
  width: 100%;
}

.progress-bar {
  width: 100%;
  height: 500px;
}

.team-logo {
  position: relative;
  width: 100%; /* The size you want */
}
.team-logo:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}
.team-logo img{
  /* border-radius: 10000px; */
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.odds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 5px 2px;
  border-radius: 22.5px;
  background-color: var(--shade-black);
}

.odds:hover {
  background-color: var(--gray);
  border-radius: 22.5px;
  z-index: 2;
}

.odds-active {
  background-image: radial-gradient(circle at -25% 115%, var(--royal-purple), var(--win-green) 89%);
  border-radius: 22.5px;
  background-color: none;
}
.odds-active .text-secondary {
  color: #fff;
}

.odds-type {
  font-size: 0.8em;
}

.single-match {
  background: var(--off-black);
  justify-content: space-around;
}

@media (min-width: 768px) { 
  .bet-time-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    text-align: center; 
  }
}
.liquidity-left {
  height: 300px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.liquidity-right {
  height: 300px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.heading-align-container {
  height: 100px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.header-align h2 {
  font-size: 1.8rem;
  font-weight: 800;
}

.header-align {
  margin: 0 1.7vw 0 1.7vw;
}

.header-side {
  margin: 0;
}

.text-heavy {
  font-weight: 800;
}

.liquidity-total {
  margin-top: -10px;
  margin-bottom: 20px;
}

.liquidity-content {
  margin-top: 30px;
  /* max-width: 150px; */
}

.liquidity-content .liquidity-heavy {
  font-weight: 800;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 0em;
}

.liquidity-content p {
  margin-bottom: 20px;
}

.liquidity-pool h1 {
  color: #fff;
  font-weight: 800;
}

.pool-header {
  font-size: 1.8rem;
  font-weight: 800;
}

.direction-icon {
  margin-top: 5px;
  font-size: 10px;
}

.left {
  float: left;
  width: 40%;
}

.right {
  float: right;
  width: 60%;
}

.search-left {
  float: left;
  width: 50%;
  text-align: left;
}

.search-right {
  float: right;
  width: 50%;
  text-align: right;
}

.bets-left {
  float: left;
  width: 50%;
  text-align: center;
  height: 55px;
  border: solid 1px var(--shade-black);
  background-color: var(--off-black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bets-right {
  float: right;
  width: 50%;
  text-align: center;
  height: 55px;
  border: solid 1px var(--shade-black);
  background-color: var(--off-black);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bets-icon {
  width: 10%;
  align-items: center;
  justify-content: center;
  height: 55px;
  border: solid 1px var(--shade-black);
  background-color: var(--off-black);
  cursor: pointer;
  display: none;
}

.secondary-team {
  height: 12px;
  margin: 0 3px 0 0;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--gray);
}

.primary-team {
  height: 24px;
  margin: 1px 27px 7px 0;
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: white;
}

.bets-active {
  border-width: 0.1px;
  border-color: white;
  background-color: var(--dark-gray);
}

.sidebar-section {
  /* width: 20em; */
  outline: 1px solid var(--shade-black);
  margin-top: 1px;
  padding: 1em;
}

.switch-tabs {
  min-height: 43px;
  border: solid 1px gray;
  border-radius: 21.5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  line-height: initial;
}

.switch-tab {
  flex: 1;
  min-height: 43px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: initial;
  padding: 0.5vw;
}

.switch-tab-active {
  flex: 1;
  min-height: 43px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 21.5px;
  padding: 0.5vw;
}

.switch-tabs-small {
  min-height: 35px;
  flex: 1;
}

.switch-tab-small {
  font-size: 12px;
}

.text-table {
  font-size: 15px;
}
.ant-select {
  width: 140px;
  margin-left: 22px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 21.5px;
}

.glance-select .ant-select-selector {
  border-radius: 2px !important;
}

.ant-slider {
  width: 100%;
  height: 15px;
  margin-left: 0;
  padding: 0;
}
.ant-slider-rail {
  height: 100%;
  border-radius: 50px;
}
.ant-slider-track {
  height: 100%;
  border-radius: 50px;
  background-image: radial-gradient(circle at -25% 115%, var(--royal-purple), var(--win-green) 89%);
}
.ant-slider-handle {
  height: 15px;
  width: 15px;
  margin-top: 0;
  border: none;
  background-color: #fff;
}
.ant-slider-step {
  display: none;
}

.CircularProgressBar-path {
  transition: 0.5
}

.pool-activity-table .ant-table-thead>tr>th {
  background-color: #0d0d0d;
  font-size: 12px;
  color: gray;
  line-height: 12px;
}

.pool-activity-table .ant-table-tbody>tr>td {
  background-color: #0d0d0d;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {  
  .sidebar-section-bets-button {
    height: 16vh;
    bottom: 0;
    position: fixed;
    right: 31px;
  }
  .mybets-scroll-mobile {
    display: none;
  }
  .bets-icon {
    display: flex;
  }
  .mybets-scroll {
    display: "flex";
  }
}

@media (max-width: 1000px) {
  .liquidity-left, .liquidity-right {
    text-align: center;
  }
}

.sidebar-section-bets-button {
  outline: 1px solid var(--shade-black);
  background-color: var(--off-black);
}

.sidebar-section-markets {
  flex-grow: 1;
  overflow: auto;
  /* for Firefox */
  min-height: 0;
}

.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.horizontal-outline {
  border-bottom: 1px solid var(--shade-black);
}

.balance {
  overflow-wrap: anywhere;
}


.mobile-header {
  text-align: center;
  border: solid 1px var(--dark-gray);
  margin-bottom: 1px;
  height: 60px;
}

.search-item {
  height: 39px;
  margin: 0px 0px 5px 5px;
  padding: 7px 17px 8px;
  background-color: transparent;
}

.selected-search-item {
  height: 39px;
  margin: 0px 0px 15px 10px;
  border-radius: 19.5px;
  background-color: var(--dark-gray);
  margin: 0px 0px 5px 5px;
  padding: 7px 17px 8px;
}

.sports-list-item {
  width: 5vw;
  margin: 0 0.8vw;
}
.sports-list-item .search-button {
  color: gray;
}
.sports-list-item-selected .search-button {
  color: white !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 45px;
  align-items: center;
}

.ant-btn {
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
  color: white;
}

.ant-btn-active {
  background-image: radial-gradient(circle at 0% 105%, var(--royal-purple), var(--win-green));
  border-color: radial-gradient(circle at 0% 105%, var(--royal-purple), var(--win-green));
}

.ant-btn:hover {
  background-image: radial-gradient(circle at 0% 105%, var(--royal-purple), var(--win-green));
  border-color: radial-gradient(circle at 0% 105%, var(--royal-purple), var(--win-green));
  color: white;
}

.ant-btn:active {
  background-image: radial-gradient(circle at 0% 105%, var(--royal-purple), var(--win-green));
  border-color: radial-gradient(circle at 0% 105%, var(--royal-purple), var(--win-green));
  color: white;
}

.ant-btn:focus {
  background-image: radial-gradient(circle at 0% 105%, var(--royal-purple), var(--win-green));
  border-color: radial-gradient(circle at 0% 105%, var(--royal-purple), var(--win-green));
  color: white;
}

.transparent-button {
  cursor: pointer;
} 

.search-button {
  border-width: 0px;
  display: contents;
}

.text-secondary {
  color: gray;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.ExplorerLink {
  color: rgb(26, 13, 171) !important;
}

h1 {
  font-size: 3.1em;
  margin-bottom: 2px;
}

.form-grey .ant-input {
  background-color: var(--dark-gray);
}

.ant-form-item {
  color: var(--dark-gray);
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  /* Remove the red '*' for required inputs */
  margin-right: 0;
  content: "";
}

.wins-left {
  float: left;
  width: 50%;
  text-align: left;
}

.wins-right {
  float: right;
  width: 50%;
  text-align: right;
}

.text-secondary-wins {
  color: gray;
  margin-bottom: -4px;
}
.error-box {
  background-color: var(--alert-red);
  padding: 1vw;
  margin: 1vw 0;
  text-align: center;
}
.bet-submit[disabled] {
  background: rgba(0, 0, 0, 0) !important; 
  border: none !important;
}
.wallet-connect {
  margin: 1em;
}
.wallet {
  justify-content: flex-end;
}