/*@primary-light: white;
@primary-dark: #1f1f1f;*/

body {
  background-color: #0d0d0d;
}

.App {
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  width: 63%;
  margin-top: 4em;
}

.carousel {
  width: 90%;
  margin-left: 5%;
}
.dots {
  margin-top: 20px;
}

.carousel-item {
  height: 200px;
  width: 400px;
  border-radius: 10px;
}

.carousel-image {
  height: 200px;
  width: 400px;
  border-radius: 10px;
}

.liquidity-header {
  min-height: 100vh;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 8%;
  align-items: center;
  width: 100%;
  margin-top: 4em;
}

.App-link {
  color: #61dafb;
}

.LeftSideBar {
  justify-content: flex-start;
  flex-direction: column;
}

.RightSideBar {
  justify-content: flex-end;
  flex-direction: column;
}

.wallet {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  justify-self: flex-end;
}

.wallet-wrapper {
  padding-left: 0.7rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.wallet-key {
  padding: 0.1rem 0.5rem 0.1rem 0.7rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
  text-align: start;
  width: 100%;
}

.flex-end {
  justify-content: flex-end;
  text-align: end;
  width: 100%;
}

.progress-bar {
  width: 100%;
}

.team-logo {
  border-radius: 10000px;
  width: 25px;
  height: 25px;
}

.single-match {
  background: "#0d0d0d";
}

.liquidity-left {
  float: left;
  width: 50%;
  text-align: left;
}
.liquidity-right {
  float: right;
  width: 50%;
  text-align: right;
}
.liquidity-total {
  margin-top: -10px;
  margin-bottom: 20px;
}
.left {
  float: left;
  width: 40%;
}
.right {
  float: right;
  width: 60%;
}

.search-left {
  float: left;
  width: 50%;
  text-align: left;
}
.search-right {
  float: right;
  width: 50%;
  text-align: right;
}

/* .search-button-data {
} */

.sidebar-section {
  width: 20em;
  padding: 1em 1.56em;
  outline: 1px solid #1f1f1f;
  margin: 1px;
}

.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.horizontal-outline {
  border-bottom: 1px solid #1f1f1f;
}

.balance {
  white-space: nowrap;
}

.search-item {
  height: 40px;
  margin-left: 4px;
}

.search-button {
  border-width: 0px;
  display: contents;
}

.text-secondary {
  color: gray;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.single-market {
  padding: 4em;
}

.ExplorerLink {
    color: rgb(26, 13, 171) !important;
}

h1 {
  font-size: 3.1em;
  margin-bottom: 2px;
}

h2 {
  font-size: 200%;
}

.ant-input {
  background-color: #242424;
}

.ant-form-item {
  color: #242424;
}

.ant-form-item-label
  > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  /* Remove the red '*' for required inputs */
  margin-right: 0;
  content: "";
}
